.g-signin2{
    padding-top: 370px;
    padding-left: 650px;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaYtS7QrGKbE_cg8MDRxKCZoWs_thzm8yvZoQsjhdhM6fuOOgz);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}